main {
	font-size: 0;
}
.main-box {
	margin-right: auto;
	margin-left: auto;
	width: 800px;
}
.center {
	text-align: center;
}
.box {
	display: inline-block;
	border: 1px solid black;
}
.upper {
	width: 50%;
	height: 200px;
}
.lower {
	width: 33.33%;
	height: 300px;
}
.green {
	background-color: green;
}
.blue {
	background-color: blue;
}
.grey {
	background-color: grey;
}
.black {
	background-color: black;
}
.yellow {
	background-color: yellow;
}